<div class="d-flex bg-white w-100 justify-content-center mb-2">
  <div class="w-25 p-4 m-3 bg_color rounded">

    <h1 class="my-title m-3 text-center yellow_color">New Article</h1>

     <%= render 'form', article: @article %>

  </div>
</div>