<div class="d-flex bg-white justify-content-center w-100 mt-3 mb-3">
  <div class="w-25 p-4 m-3 bg_color rounded text_center">

    <h1 class="my-title m-3 text-center yellow_color">Categories</h1>
    
    <div class="d-flex flex-column text-center">
       <h4 class="orange_color_art"> Name </h4>
        <div>
            <% @categories.each do |category| %>
                <p class="text-white"><%= category.name %></p>
            <% end %>
        </div>
    </div>

  </div>
</div>